@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-purple-50 text-purple-900;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  @apply text-purple-600 hover:text-purple-700;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #9333EA; /* purple-600 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7E22CE; /* purple-700 */
}
